@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* --------------RESET-------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: middle;
}
button{
  border: none;
}

/* --------------BASE-------------- */
:root{
  --font-family-base: 'Poppins', sans-serif;

  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* ------font-sizes------ */
  /* 16 /  20 / 24 / 32 / 42 / 56 / 86 / 180*/
  --font-size-link: 1rem;
  --font-size-sm: 1.25rem;
  --font-size-para: 1.5rem;
  --font-size-h3: 2rem; 
  --font-size-h3-lg: 2.625rem; 
  --font-size-h2: 3.5rem; 
  --font-size-h2-lg: 5.375rem; 

  --font-size-h1: 11.25rem;
  --line-height-h1: 10.75vw; 

  --font-size-h1-responsive: 14.0625vw; 
  --line-height-h1-responsive: 13.43vw;
 
  --line-height-base: 1; 
  --line-height-h3: 2.625rem; 
  --line-height-h3-lg: 7.5rem; 
  --line-height-h1: 10.75rem;

  --color-heading-base: rgba(82, 72, 62, 1);
  --color-para-base: rgba(139, 135, 130, 1);

}
html{
  overflow-x: hidden;
  font-family: var(--font-family-base);
}
body{
  overflow-x: hidden;
  width: 100vw;
  background: linear-gradient(180.00deg, rgba(245, 245, 245, 1) 90%, rgba(210, 205, 198, 1) 100%);
}
.homepage{
  background: linear-gradient(180.00deg, rgba(210, 205, 198, 1), rgba(245, 245, 245, 1), rgba(210, 205, 198, 1) 100%);
}
h1, h2 {
  font-weight: var(--font-weight-bold);
}
h1, h2, h3{
  color: var(--color-heading-base);
}
h2{
  font-size: var(--font-size-h2);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 16px;
}
h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h3);
}
a, p{
  font-weight: var(--font-weight-base);
}
p{
  font-size: var(--font-size-para);
  color: var(--color-para-base);
  text-align: center;
}
a{
  font-size: var(--font-size-link);
}
.button{
  position: relative;
  padding: 10px 32px;
  border-radius: 24px;
  border: 1px solid transparent;
  background-image: 
    linear-gradient(180deg, rgb(245, 245, 245), rgb(245, 245, 245) 100%),
    linear-gradient(180deg, rgb(139, 135, 130), rgb(210, 205, 198) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  overflow: hidden;
}
.button::after{
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgb(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.5) 50%, rgb(255, 255, 255, 0) 100%);
  border-radius: 24px;
}
.button:hover::after{
  animation: shine 1000ms;
}
@keyframes shine {
  0%{
    left: -75%;
  }
  100%{
    left: 125%;
  }
}


/* --------------NAVBAR-------------- */

nav{
  position: relative;
  z-index: 1000;
  margin: 0 auto;
  height: 92px;
  display: flex;
  padding: 24px;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-heading-base);
}
.logo svg{
  width: 26px;
  height: 26px;
}
.nav-links{
  display: flex;
  gap: 16px;
  align-items: center;
}
.nav-links-mobile{
  padding: 50px 0;
  width: 100vw;
  height: calc(100vh - 92px);
  position: fixed;
  display: flex;
  align-items: center;
  top: 92px;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  transition: 500ms;
}
nav img{
  width: 32px;
}
li a{
  background-image: 
    linear-gradient(180.00deg, rgba(0, 0, 0, 1), rgba(102, 102, 102, 1) 100%);
  color: transparent;
  background-clip: text;
  padding: 10px 32px;
  position: relative;
  transition: color 250ms;
}
.active-navbar{
  color: rgb(255, 255, 255);
  border-radius: 24px;
  border: 1px solid transparent;
  background-image: 
    linear-gradient(180.00deg, rgba(82, 72, 62, 1),rgba(139, 135, 130, 1) 100%),
    linear-gradient(180.00deg, rgba(0, 0, 0, 1), rgba(139, 135, 130, 1) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 10px 32px;
}

/* --------------FOOTER-------------- */

footer{
  margin-top: 80px;
}
footer h3{
  font-size: var(--font-size-h3-lg);
  font-weight: var(--font-weight-bold);
}
.footer-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 215px;
  gap: 32px;
}
.footer-feature-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}
.footer-feature-text p{
  font-size: var(--font-size-sm);
}
.footer-nav{
  display: flex;
  gap: 16px;
}
.footer-socials{
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-socials p{
  font-size: var(--font-size-link);
}
.footer{
  display: flex;
  padding: 16px 80px;
  justify-content: space-between;
  border-top: 1px solid var(--color-para-base);
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 42px;
}

/* --------------HERO-SECTION-------------- */

.hero-image{
  position: relative;
  width: 90vw;
  max-width: 1280px;
  aspect-ratio: 1084 / 984;
  margin: 0 auto;
}
.hero-image img{
  width: 100%;
  height: auto;
  max-width: 100%;
  position: absolute;
  z-index: 2;
  top: -11%;
  user-select: none;
  filter: drop-shadow(0px 2px 1px rgb(255, 255, 255));
}
h1{
  letter-spacing: 7px;
  font-size: var(--font-size-h1-responsive);
  line-height: var(--line-height-h1-responsive);
  position: absolute;
  z-index: 3;
  top: 22%;
  left: 49%;
  transform: translateX(-50%);
  user-select: none;
}
.h1-shadow{
  z-index: 1;
  text-shadow: 0px 3px 1px rgb(175, 164, 151);
}
.text-behind{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1-responsive); 
  line-height: var(--line-height-h1-responsive);
  position: absolute;
  letter-spacing: 7px;
  z-index: 1;
  left: 53.5%;
  transform: translateX(-50%);
  width: 90%;
  top: 38%;
  color: transparent;
  background: linear-gradient(0.00deg, rgba(218, 204, 188, 1),rgba(175, 164, 151, 1) 100%);
  background-clip: text;
  filter: drop-shadow(0px 3px 1px rgb(175, 164, 151));
  user-select: none;
}

/* --------------FEATURE-COLORS-SECTION-------------- */

.feature-colors{
  margin-bottom: 80px;
}
.carousel{
  position: relative;
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}
.colors{
  display: flex;
  justify-content: center;
  z-index: 0;
  transition: 800ms;
}
.colors img{
  width: 660px;
  height: 660px;
  transition: 800ms;
}
.carousel::after{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 660px;
  backdrop-filter: blur(5px);
  mask: radial-gradient(circle, rgba(0, 0, 0, 0) 330px, rgb(0, 0, 0) 380px);
  -webkit-mask: radial-gradient(circle, rgba(0, 0, 0, 0) 330px, rgb(0, 0, 0) 380px);
}
.controls{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 24px 0 32px 0;
}
.color-pick-yellow, .color-pick-green, .color-pick-red{
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.color-pick-yellow{
  background-color: rgba(216, 183, 75, 1);
}
.color-pick-green{
  background-color: rgba(148, 145, 91, 1);
}
.color-pick-red{
  background-color: rgba(136, 61, 57, 1);
}
.picked{
  border: 3px solid rgba(82, 72, 62, 1);
}
.backImg{
  scale: 0.8;
}

/* --------------CARDS-SECTION-------------- */

.card{
  overflow: hidden;
  max-width: 1080px;
  height: 480px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 24px;
  flex: 0 0 100%;
}
.card img{
  width: 532px;
  height: 626px;
}
.card h3{
  padding: 0 80px;
  font-weight: var(--font-weight-bold);
}
.feature-section{
  flex-flow: nowrap;
  margin: 160px auto;
  max-width: 1080px;
  width: 90%;
  display: flex;
  gap: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 24px;
}
.feature-section::-webkit-scrollbar{
  display: none;
}

/* --------------PERSONALIZE-SECTION-------------- */

.image-carousel{
  margin: 80px auto 160px auto;
  overflow-x: scroll;
  display: flex;
  gap: 16px;
  width: 92.3%;
  max-width: 1190px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 24px;
}
.image-carousel::-webkit-scrollbar{
  display: none;
}

/* --------------FEATURE-IMAGE-------------- */

.feature-image{
  margin: 80px auto;
  background: url(./assets/images/featureImage.png) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 894px;
  padding: 80px;
}
.feature-image h2{
  font-size: var(--font-size-h2-lg);
  line-height: 120px;
  color: rgb(255, 255, 255);
}
.feature-image p{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

/* --------------SPECS-------------- */

.tech-specs{
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}
.spec-card:last-child{
  background: linear-gradient(180.00deg, rgba(210, 205, 198, 1),rgba(242, 235, 227, 1) 100%);
}
.spec-card{
  display: flex;
  gap: 42px;
  padding: 80px 120px; 
  width: 100%;
}
.spec-card:not(:last-child){
  border-bottom: 1px solid rgba(216, 216, 216, 1);
}
.spec-card h3{
  width: 300px;
  font-weight: var(--font-weight-bold);
}
.spec-card li{
  color: var(--color-para-base);
  line-height: 50px;
  font-size: 1.125rem;
  font-weight: var(--font-weight-base);
}
.color-pick img{
  width: 420px;
  height: 420px;
}

/* --------------COMPARE-------------- */

.compare-section{
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
}
.compare-items{
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 77.8%;
  margin: 42px 0 80px 0;
}
.compare{
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  width: 100%;
}
.compare-item{
  background-color: rgba(245, 245, 245, 1);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 42px;
}
.compare-item img{
  width: 77%;
  margin-bottom: 34px;
}
.compare-section h2{
  font-size: var(--font-size-h2);
  line-height: 63px;
  margin: 0;
}
.compare-section p{
  font-size: 1.125rem;
  margin-bottom: 8px;
}
.spec img{
  width: 32px;
}
.spec{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.specs{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* --------------MEDIA-QUERIES-------------- */

@media (min-width: 1280px) {
  h1 {
    font-size: var(--font-size-h1); 
    line-height: var(--line-height-h1);
  }
  .text-behind {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    left: 55.5%;
  }
}
@media (min-width: 705px) {
  li a:not(.active-navbar)::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 20%;
    top: 80%;
    background-color: rgb(132, 128, 123);
    transition: 300ms ease-in-out;
  }
  li a:not(.active-navbar):hover::after{
    width: 60%;
  }
}
@media (max-width: 920px){
  .card{
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .card h3{
    margin: 0;
    padding: 42px 32px;
    font-size: 1.5rem;
    line-height: 32px;
    max-width: 70%;
    
  }
  .card img{
    width: 40%;
    height: auto;
  }
}
@media (max-width: 705px) {
  html{
    font-size: 100%;
  }
  :root{
    --font-size-h1-responsive: 12vw;
    --line-height-h1-responsive: 12vw;
    --font-size-h2: 2.625rem; 
    --font-size-para: 1.125rem;
  }
  .homepage{
    background: linear-gradient(180.00deg, rgba(210, 205, 198, 1) 0%, rgba(245, 245, 245, 1) 25%, rgba(210, 205, 198, 1) 100%);
  }
  nav li a{
    font-size: 2rem;
    color: rgb(43, 43, 43);
  }
  nav li{
    text-align: center;
    width: 100%;
    background-color: rgb(210, 206, 200);
    padding: 15px 0;
    border-radius: 10px;
  }
  .active::after{
    content: "";
    position: absolute;
    width: 76%;
    height: 2px;
    left: 12%;
    top: 80%;
    background-color: rgb(132, 128, 123);
  }
  .hero{
    margin-top: 80px;
    margin-bottom: 42px;
    height: fit-content;
  }
  .hero-image{
    position: static;
  }
  h1{
    position: static;
    transform: none;
    text-align: center;
    left: auto;
    top: auto;
    letter-spacing: 2px;
    text-shadow: 0px 3px 1px rgb(175, 164, 151);
  }
  .h1-shadow{
    display: none;
  }
  .text-behind{
    display: block; 
    position: static;
    transform: none;
    left: auto;
    top: auto;
    text-align: center;
    width: 100%;
    filter: drop-shadow(0px 1px 1px rgb(175, 164, 151));
  }
  .hero-image img{
    position: static;
    top: 33%;
    left: 0;
  }
  .colors img{
    width: 420px;
    height: 420px;
  }
  .carousel::after{
    height: 420px;
  }
  .card img{
    width: 70%;
  }
  footer h3{
    line-height: 60px;
  }
  .footer-feature-text p{
    font-size: 1.125rem;
    padding: 0 15px;
  }
  .footer-feature{
    height: auto;
  }

  /* --------------TECH-SPECS-------------- */

  .spec-card{
    margin-top: 42px;
    flex-direction: column;
    gap: 24px;
    padding: 8px 24px; 
  }
  .color-pick img{
    width: 300px;
    height: 300px;
  }
  .color-pick .controls button{
    width: 40px;
    height: 40px;
  }
  .spec-card h3{
    width: 100%;
  }
  .spec-card li{
    font-size: 1.125rem;
    line-height: 50px;
  }
  /* --------------COMPARE-------------- */
  .compare-items{
    gap: 0;
    border-radius: 24px;
    overflow: hidden;
  }
  .compare-item h2{
    font-size: 1.5rem;
    line-height: 36px;
  }
  .compare-item{
    background-color: rgb(255, 255, 255);
    padding: 0;
  }
  .compare{
    border-radius: 0;
  }
  .compare-item a{
    padding: 10px 24px;
  }
}
@media (max-width: 480px){
  .card h3{
    padding: 21px 16px;
  }
  .feature-image{
    height: 600px;
    padding: 24px;
    background-position: top;
    background-size: 280%;
    margin: 0 auto;
  }
  .feature-image h2{
    font-size: 3.75rem;
    line-height: 80px;
  }
  .footer .logo{
    display: none;
  }
  .footer{
    padding: 16px 24px;
    justify-content: center;
  }
  .footer-socials{
    flex-direction: column;
  }
  .socials{
    display: flex;
    gap: 16px;
  }
  .spec-card li{
    font-size: 1rem;
    line-height: 50px;
  }
  .compare-item h2{
    font-size: 1.25rem;
  }
}